body 
{
	color: #666666; font-size:11px;
}

#main { width:300px; height:100px; margin:30px auto 30px auto;}

#main2 { margin:10px 10px 10px 10px;}

.title { text-align:center; margin-bottom:3px; font-size:13px;}